button {
  padding: 0.25em 0.75em;

  border: 0;
  border-radius: 4px;
  background-color: hsl(1, 65%, 50%);
  color: #fff;
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: box-shadow 0.1s ease;
}

button:focus {
  box-shadow: 0 0 0 4px hsla(1, 65%, 50%, 0.4);
}

button:disabled {
  background-color: #aaa;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 4px hsla(1, 65%, 50%, 0.4);
}

input[type='range']::-ms-track {
  /* width: 100%; */
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--color-primary);
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-top: -7px;
}

input[type='range']::-webkit-slider-runnable-track {
  background-color: #eee;
  height: 0.25rem;
  /* width: 100%; */
  border-radius: 2rem;
}

fieldset {
  border-color: #ddd;
  padding: 0.5rem 1rem;
}

legend {
  padding: 0 0.25em;
  color: var(--color-gray);
  font-weight: 600;
}

table {
  border-color: var(--color-gray);
}
