button {
  padding: 0.25em 0.75em;

  border: 0;
  border-radius: 4px;
  background-color: hsl(1, 65%, 50%);
  color: #fff;
  cursor: pointer;
  outline: none;
  user-select: none;
}

button:focus {
  box-shadow: 0 0 0 4px hsla(1, 65%, 50%, 0.4);
}

button:disabled {
  background-color: #aaa;
}

fieldset {
  border-color: #ddd;
  padding: 0.5rem 1rem;
}

legend {
  padding: 0 0.25em;
  color: var(--color-gray);
  font-weight: 600;
}

table {
  border-color: var(--color-gray);
}
